#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: #006691;
}

.attachment-info .description {
  display: none;
}
.attachment-info .setting[data-setting="alt"],
.attachment-info .setting[data-setting="title"],
.attachment-info .setting[data-setting="description"],
.attachment-info .setting[data-setting="url"] {
  display: none;
}

.attachment-info .setting[data-setting="caption"] .name {
  position: absolute;
  visibility: hidden;
}
.attachment-info .setting[data-setting="caption"] .name:after {
  content: "Bildtitel";
  visibility: visible;
  display: block;
}

.attachment-info .actions .view-attachment,
.attachment-info .actions .links-separator,
.attachment-info .actions a {
  display: none;
}
/* 
.media-frame .view-list {
  display: none;
} */

/* wp-admin post.php action=edit? */

.wp_attachment_holder {
  max-width: 70%;
}

#minor-publishing,
#pageparentdiv,
#shortpixel_info_box,
.attachment-alt-text,
#alt-text-description,
#edit-slug-box,
#delete-action,
#publishing-action > span:nth-child(1),
.media .view,
#titlewrap {
  display: none;
}
/* #wp-attachment_content-editor-container, */

#screen-meta-links,
#post-body-content .attachment-content-description {
  display: none;
}
.wp_attachment_details label {
  /* position: absolute; */
  /* visibility: hidden; */
  display: none;
}
.wp_attachment_details > p:nth-child(3)::before {
  /* .wp_attachment_details label:after { */
  /* #attachment_caption::before { */
  content: "Bildtitel";
  visibility: visible;
  display: block;
  font-size: 36px;
}

.wp_attachment_details #attachment_caption {
  height: 2em;
  font-size: 30px;
}

#qt_attachment_content_toolbar {
  display: none;
}
#wp-attachment_content-wrap::before {
  content: "Dieses Feld kann nicht bearbeitet werden. Es ist für Suchenfunktion  (Bildtitle) ;; (Orte) ;; (Fotograf)";
  visibility: visible;
  display: block;
}
#attachment_content {
  height: 42px;
}
/* Erforderliche Felder sind mit * markiert */
.media-types-required-info {
  display: none;
}

input#publish,
#publishing-action {
  width: 100%;
  min-height: 50px;
}

/* All user can use only fotos, that has been uploaded in media already */
.block-editor-media-placeholder__upload-button,
#menu-item-upload {
  display: none;
}

button.editor-post-taxonomies__hierarchical-terms-add {
  display: none;
}

.components-panel__body .editor-post-taxonomies__hierarchical-terms-list {
  max-height: 20em;
}
div.components-panel__body:nth-child(1) > label:nth-child(2),
#editor-post-taxonomies__hierarchical-terms-filter-0 {
  display: none;
}
