html {
  max-height: 100%;
}

body.login {
  background-color: var(--l_grey);
  grid-template-columns: 55% 45%;
  grid-template-rows: 150px auto;
  display: grid;
  position: static;
  margin: 0 auto;
  height: auto;
  max-height: 100%;
  width: 90%;
  justify-content: stretch;
  justify-items: stretch;
  overflow: auto;

}

body.login .menu.top {
  margin-bottom: 50px;
}

body.login #geeting_info_popup {
  display: none;
}

.kulturdatenbank {
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 150px auto;
}

body.login .popup.info {
  width: 100%;
  position: static;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
  grid-row: 2/3;
  align-items: stretch;
  max-height: 100%;
  margin: 0;
}

body.login .content_wrapper {
  max-height: 100%;
  height: auto;
}

body.login .popup.info .slide,
body.login .popup.info .left {
  display: block;
  padding-right: 0;
}

body.login .popup.info .left {
border-right: 2px solid var(--l_grey);
}

body.login .popup.info h2 {
  margin-top: 50px;
}

body.login .popup.info span {
  display: block;
  padding-right: 14px;
}

body.login .popup.info .kontakt {
  padding-top: 0;
  align-self: start;
  margin-top: 50px;
}

body.login .popup.info .kontakt a {
  text-decoration: none;
  color: var(--d_text);
}

body.login .popup.info .kontakt {
padding-top: 10px;
}

body.login .popup.info .kontakt {
text-align: left;
padding-bottom: 5px;
}


body.login .popup.info .slide .left button {
  margin-top: 40px;
  display: block;
  padding: 0;
}

body.login button a {
  color: var(--d_text);
  text-decoration: none;
  display: block;
  padding: 15px 30px 15px 15px;
}

body.login button:hover a,
body.login button:active a{
  color: #fff;
  opacity: 1;
}


body.login .legal {
  padding: 80px 0 0 0;
  box-sizing: border-box;
  box-shadow: none;
}

body.login .legal ul {
 background-color: #fff; 
}

body.login .legal li {
 padding-left: 0; 
 }

body.login #login {
  background-color: #fff;
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 100%;
  height: auto;
  margin: 0;
  padding: 200px 40px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

body.login #login h1 a {
  float: right; 
  position: absolute;
  right: 40px;
  left: auto;
  top: 160px;
  bottom: auto;
 }

#login::before {
  content: "Anmeldung für Redakteure";
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

#loginform, body.login #nav {
  margin: 24px auto;
  box-sizing: border-box;
}


body.login #nav {
  padding: 0;
}

#nav {
  color: #fff;
  padding: 0;
}

#nav a {
  color: #000;
}

/* register button */
#nav > a:nth-child(1), 
.language-switcher,
a.privacy-policy-link,
body.login #backtoblog {
  display: none;
}

.login label {
  font-size: 17px;
}


@media screen and (max-width: 1200px) {
  body.login {
    display: block;
    background-color: #fff;
    overflow-y: auto;
    margin: 0;
    width: 100vw;
    height: auto;
    max-height: 100%;
  }

  #login {
  display: none;
}

body.login .kulturdatenbank {
  display: block;
  width: 100%;
  background-color: #fff;
  height: auto;
  max-height: 100%;
}

.kulturdatenbank .menu.top ul {
  padding: 15px;
}

body.login .logo {
  font-size: 25px;
}

body.login .popup.info {
  background-color: #fff;
}

body.login .slide.show {
  height: auto;
  max-height: 100%;
}

body.login .popup.info .content_wrapper {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 100%;
}

body.login .kulturdatenbank .popup.info .left {
  border: none;
  padding-bottom: 50px;
}

}